ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F3BAD6;
}

li {
  float: left;
}

li a {
  display: block;
  color: #E05297;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #FCEEF5;
}
h1{
color:#F3BAD6;
}
img{
width:700px;
hight:700px

 display: block;
  margin-left: 420px;
  margin-right: auto;

}
h1{
  text-align: center;
  color:#E05297;
}
p{
text-align:center;
color:#EA86B6;
}