<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Word</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <nav  th:fragment="header">

        <ul class="nav navbar-nav">
            <li>
                <a class="navbar-brand" href="/">Home Page</a>
            </li>
            <li>
                <a class="navbar-brand" href="/hello">Hello Page</a>
            </li>
            <li>
                <a href="/capitalize/hello" >Capitalize</a>
            </li>
            <li>
                <a href="/addYourAlbum" >Add Your Album</a>
            </li>
            <li>
                <a href="/albums" >Albums</a>
            </li>
            <li>
                <a href="/songs" >Song</a>
            </li>
            <li>
                <a href="/addSong" >Add Song</a>
            </li>
        </ul>


    </nav>
</header>
<h1>Capitalize</h1>
<p  th:text="${name}"></p>
</body>
</html>