<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/songs" method="post">
  <br>
  <br>
  <label>Song Title</label>
  <input type="text" name="title" />
  <br>
  <br>
  <label>Track Number</label>
  <input type="number" name="trackNumber" />
  <br>
  <br>
  <label>Length</label>
  <input type="number" name="length" />
  <br>
  <br>
  <label>Album</label>
  <input type="number" name="albumID" />
  <br>
  <br>
  <input type="submit" value="Add Song!">
  <br>
  <br>
</form>
</body>
</html>